body {
  background-color: darkslategray;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  position: absolute;
  left: 0;
  right: 0;
}

/* .info {
  position: absolute;
  left: 0;
  right: 0;
} */

/* game board table */

#board td {
  width: 75px;
  height: 75px;
  border: solid 1px #666;
  
}

.piece {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  /* position: absolute;
  top: 0;
  transition: top 500ms ease-out; */
}

.p1 {
  background-color: white;
}

.p2 {
  background-color: black;
}

#column-top td {
  border-radius: 50%;
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

