body {
  background-color: darkslategray;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  position: absolute;
  left: 0;
  right: 0;
}

/* .info {
  position: absolute;
  left: 0;
  right: 0;
} */

/* game board table */

#board td {
  width: 75px;
  height: 75px;
  border: solid 1px #666;
  
}

.piece {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-left: 5px;
}

.p1 {
  background-color: white;
}

.p2 {
  background-color: black;
}

#column-top td {
  border-radius: 50%;
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

.falling-piece {
  animation-name: fall-animation;
  animation-duration: 1000ms;
}

@keyframes fall-animation {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}